:root{
    --font: Poppins;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    padding: 3% 10% 0 10%; 
    background-color: #9747FF;
}
.container{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}
.formlogin{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
}
.form-left{
    width: 50%;
    /* background-color: #000; */
    padding: 10% 10% 2% 10%;
}
.form-left > h1 {
    color: #000;
    font-family: var(--font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}
.form-left > p{
    color: rgba(0, 0, 0, 0.70);
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input-info{
    margin-top: 3rem;
    display: flex;
    width: 28.125rem;
    height: 9.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3.125rem;
    flex-shrink: 0;
}
.input-info input{
    display: flex;
    width: 28.125rem;
    height: 3.063rem;
    padding: 11px 301px 11px 20px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 14px;
    border: 2px solid rgba(0, 0, 0, 0.70);
}

.form-left > a{
    margin-top: 1rem;
    /* width: 100vw; */
    display: block;
    text-align: start;
    color: #9747FF;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    &:hover{
        opacity: 0.85;
    }
}
.Login {
    font-family: var(--font);
    font-size: 1.12rem;
    border: none;
    font-weight: bold;
    color: white;
    padding: 10px 194px;
    border-radius: 14px;
    border: 2px solid ;
    background: var(--button-icon-color, #A238FF);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: #A238FF;
        border: 2px #A238FF solid;
    }

}
.signin-other{
    display: flex;
    width: 100%;
    /* background-color: #ffffff; */
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    p{
        font-family: var(--font);
        font-size: 0.9rem;
    }
}
.signin-other > hr{
    width: 37%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.icon{
    display: flex;
    width: 100%;
    /* background-color: #A238FF; */
    overflow: hidden;
    gap: 3rem;
    justify-content: space-around;
    margin-top: 2rem;
}

.icon img{
    width: 50px;
    height: 50px;
}
.donthaveacc{
    margin-top: 5rem;
    font-family: var(--font);
    span{
        color: #A238FF;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}
.email{
    /* padding: 0px 10px; */
    background-color: white;
    position: absolute;
    top: 22.59rem;
    left: 23rem;
    font-family: var(--font);
    transition: all ease-in-out 0.5s;
}
.input-info .holder input:focus + label,
.input-info .holder input:valid + label{
    /* position: absolute; */
    top: 21.1rem;
    left: 23rem;
    transition: all ease-in-out 0.5s;
}

.password{
    position: absolute;
    top: 28.8rem;
    left: 23rem;
    font-family: var(--font);
    transition: all ease-in-out 0.5s;
    background-color: white;
}
.input-info .holder-pass input:focus + label,
.input-info .holder-pass input:valid + label{
    /* position: absolute; */
    top:  calc(20.5rem + 6.8rem);
    left: 23rem;
    transition: all ease-in-out 0.5s;
}
.form-right{
    /* background-color: rgb(0, 204, 255); */
    width: 50%;
    padding: 5% 10% 2% 10%;
    font-family: var(--font);
    input{
        outline: none;
    }
}
.form-right > p{
    margin-bottom: 1rem;
    opacity: 0.7;
    font-weight: bold;
}
.form-right .holder-2 label{
    position: absolute;
}
.pass-1 input:focus + label,
.pass-1 input:valid + label{
    top: 17.7rem;
    transition: all ease 0.5s;
    left: 71rem;
    background-color: white;
}
.pass-1 label{
    top: 19.3rem;
    left: 71rem;
    transition: all ease 0.5s;

    
}
.pass-2 input:focus + label,
.pass-2 input:valid + label{
    top: 24rem;
    transition: all ease 0.5s;
    left: 71rem;
    background-color: white;
}
.pass-2 label{
    top: 25.4rem;
    left: 71rem;
    transition: all ease 0.5s;

    
}
.pass-3 input:focus + label,
.pass-3 input:valid + label{
    top: 30.1rem;
    transition: all ease 0.5s;
    left: 71rem;
    background-color: white;
}
.pass-3 label{
    top: 31.6rem;
    left: 71rem;
    transition: all ease 0.5s;

    
}
.pass-4 input:focus + label,
.pass-4 input:valid + label{
    top: 36.4rem;
    transition: all ease 0.5s;
    left: 71rem;
    background-color: white;
}
.pass-4 label{
    top: 38rem;
    left: 71rem;
    transition: all ease 0.5s;

    
}
.form-right::before{
    content: "";
    z-index: 1;
    top: 3.57rem;
    left: 50%;
    position: absolute;
    width: 48rem;
    height: 51.48rem;
    background: rgb(113,141,235);
    background: linear-gradient(180deg, rgba(113,141,235,1) 0%, rgba(164,118,215,1) 100%);
    
}
.form-right .img{
    width: 50%;
    /* transform: translateY(-10%); */
    margin-left: -14rem;
    /* background-color: #000; */
    height: 30rem;
    margin-top: -20rem;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}
.form-right .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rotateform{
    transform: translateX(-100%);
    transition: all ease-in-out 0.9s;
}