.video-player {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-self: center;
	margin-top: 1rem;
	overflow: hidden;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.controls {
	position: absolute;
	width: auto;
	left: 85%;
	top: 87%;
	overflow: visible;
}

.controls > button {
	margin-right: 0.7vw;
	padding: 1rem;
	border: 0;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	/* display: inline-flex;
	justify-content: center;
	align-items: center; */
}
.controls > button:hover {
	box-shadow: 0 0 1vw 0.1vw rgb(189, 173, 173);
}

.controls > button > img {
	width: 2vw;
	height: 2vw;
}
