.watch-logo {
	width: 4rem;
	height: 4rem;
	fill: white;
}
.brand {
	font-family: 'Playfair Display';
	font-style: italic;
	font-size: 2.5rem;
	font-weight: 600;
	padding-left: 1rem;
}

.navbar {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navbar > div {
	display: flex;
	align-items: center;
}

.navbar > ul {
	min-width: 30%;
	/* max-width: 50%; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.navbar > ul > li {
	list-style-type: none;
	position: relative;
	font-size: 1.2rem;
	cursor: pointer;
}

.navbar-items {
	text-decoration: none;
	color: #fff;
}
