.common {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bg1 {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	/* overflow: visible; */
}

.homepage {
	/* scroll-snap-type: y mandatory;
	overflow-y: scroll; */
	height: 100%;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.title-wrap {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 9.7222222222vw;
}
.title {
	font-size: 4.1666666667vw;
	line-height: 1.2;
	outline: 0;
	font-family: 'SamsungSharpSans', arial, sans-serif;
}

@media (min-width: 1440px) {
	.title {
		font-size: 60px;
	}
	.title-wrap {
		padding-top: 100px;
	}
}
