.signup-container {
	/* width: 75vw;
	height: 100vh;
	
	background: linear-gradient(
		180deg,
		rgba(113, 141, 235, 1) 0%,
		rgba(164, 118, 215, 1) 100%
	);
	position: relative;
	justify-self: center;
	display: flex;
	flex-direction: row;
	font-size: 1.1rem; */
}
.signup-form {
	flex: 1;
	width: 50%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
	padding-top: 2rem;
	padding-bottom: 3rem;
	z-index: 2;
}

.signup-form > h1,
p {
	padding: 0;
	margin: 0;
}
.signup-form > form {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.signup-form > form > ul {
	padding: 0;
	width: 100%;
}

.signup-form > form > ul > li {
	list-style-type: none;
	width: 100%;
}
.signup-form > form > ul > li > input {
	width: 100%;
	/* padding: 0; */
}
.signup-form > form > ul > li:last-of-type > input {
	width: auto;
	/* padding: 0; */
}
.signup-form > form > ul > li:last-of-type > span > span {
	font-weight: 600;
	color: #9747ff;
	cursor: pointer;
	text-decoration: none;
}

.signup-form > form > p {
	align-self: start;
	font-weight: 500;
	color: #9747ff;
	cursor: pointer;
	text-decoration: none;
}

.signup-with {
	display: flex;
	align-items: center;
	width: 70%;
}
.signup-with > hr {
	flex-grow: 1;
	border-top: 1px solid black;
}
.signup-with > p {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.signup-with-icons {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
}
.signup-with-icons > img {
	width: 48px;
	height: 48px;
	position: relative;
}

/* .signup-banner {
	flex: 1;
	width: 50%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 1;
}
.signup-banner > img {
	width: 100%;
	object-fit: contain;
} */
