.signin-form {
	flex: 1;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.signin-form > h1,
p {
	padding: 0;
	margin: 0;
}
.signin-form > form {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.signin-form > form > ul {
	padding: 0;
	width: 100%;
}

.signin-form > form > ul > li {
	list-style-type: none;
	width: 100%;
}
.signin-form > form > ul > li > input {
	width: 100%;
	/* padding: 0; */
}

.signin-form > form > p {
	align-self: start;
	font-weight: 500;
	color: #9747ff;
	cursor: pointer;
	text-decoration: none;
}

.signin-with {
	display: flex;
	align-items: center;
	width: 70%;
}
.signin-with > hr {
	flex-grow: 1;
	border-top: 1px solid black;
}
.signin-with > p {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.signin-with-icons {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
}
.signin-with-icons > img {
	width: 48px;
	height: 48px;
	position: relative;
}

.signin-banner {
	width: 50%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.no-account {
	margin-top: auto;
	font-size: 1.2rem;
}
.no-account > span > :first-child {
	font-weight: 600;
	color: #9747ff;
	cursor: pointer;
	text-decoration: none;
}

/* .signin-banner > img {
	flex: 1;
	width: 100%;
	object-fit: contain;
	z-index: 1;
} */
