.signin-container {
	width: 75vw;
	height: 100vh;
	/* background-image: linear-gradient(to bottom, #4c51d9b2, #7e3ac6b2); */
	/* background: rgb(113, 141, 235); */
	background: linear-gradient(
		180deg,
		rgba(113, 141, 235, 1) 0%,
		rgba(164, 118, 215, 1) 100%
	);
	position: relative;
	justify-self: center;
	display: flex;
	flex-direction: row;
}

.signin-form {
	width: 50%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
}

.signin-form > h1,
p {
	padding: 0;
	margin: 0;
}
.signin-form > form {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.signin-form > form > ul {
	padding: 0;
	width: 100%;
}

.signin-form > form > ul > li {
	list-style-type: none;
	width: 100%;
}
.signin-form > form > ul > li > input {
	width: 100%;
	/* padding: 0; */
}

.signin-form > p {
	align-self: start;
}

.signin-with {
	display: flex;
	align-items: center;
	width: 70%;
}
.signin-with > hr {
	flex-grow: 1;
	border-top: 1px solid black;
}

.signin-with-icons {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
}
.signin-with-icons > img {
	width: 48px;
	height: 48px;
	position: relative;
}

.signin-banner {
	width: 50%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.signin-banner > img {
	width: 100%;
	object-fit: contain;
}
