.auth-layout-container {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	background: #0a0a0a;
	overflow: hidden;
}

.form-panel,
.image-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
}

.form-panel {
	background-color: #0a0a0a;
	z-index: 2;
	overflow-y: scroll;
	scrollbar-width: none;
}

.image-panel {
	left: 50%;
	z-index: 1;
	background: #0a0a0a;
}

.form-section {
	display: flex;
	flex-direction: row;
	font-size: 1.1rem;
	width: 100%;
}

.image-section {
	position: relative;
	flex: 1;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.image-section > img {
	width: 100%;
	object-fit: contain;
}

@media (max-width: 1440px) {
	.image-panel {
		display: none;
	}

	.form-panel {
		width: 100% !important;
		transform: none !important;
		max-width: 540px;
	}
	.auth-layout-container {
		max-width: 540px;
		justify-self: center;
	}
}

@media (min-width: 1441px) {
	.auth-layout-container {
		width: 75vw;
		justify-self: center;
	}
}
