.cus-wrapper {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	width: 83.3333333333vw;
	padding: 9.7222222222vw 0vw;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	max-width: 1920px;
	margin: 0 auto;
}

.cus-text {
	text-align: center;
}

.cus-text .eyebrows {
	font-family: 'SamsungOne700';
	font-size: 14px;
	line-height: 1.22;
	letter-spacing: 0.11em;
	margin-bottom: 16px;
	text-align: center;
}

.cus-text .title {
	text-align: center;
	font-size: 3.3333333333vw;
	line-height: 1.2;
	letter-spacing: normal;
}

.cus-text .description {
	text-align: center;
	font-size: 1.25vw;
	line-height: 1.33;
	margin: 0 auto;
}

@media (min-width: 1440px) {
	.cus-wrapper {
		width: 1200px;
		padding: 140px 0px;
	}
	.cus-text .title {
		font-size: 48px;
	}
	.cus-text .description {
		font-size: 20px !important;
	}
}

@media screen and (min-width: 768px) {
	.cus-text {
		width: 73.333333333vw;
	}
	.cus-text .description {
		width: 62.5vw;
	}
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
	.cus-text {
		width: 1056px;
	}
	.cus-text .description {
		width: 1056px;
		font-size: 20px;
	}
}
