.auth-layout-container {
	position: relative;
	display: flex;
	width: 75vw;
	height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(113, 141, 235, 1) 0%,
		rgba(164, 118, 215, 1) 100%
	);
	margin-left: 12.5vw;
	margin-right: 12.5vw;
	overflow: hidden;
}

.form-panel,
.image-panel {
	position: absolute; /* CRITICAL: Allows panels to overlap and slide over each other */
	top: 0;
	bottom: 0;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
}

.form-panel {
	background-color: #ffffff;
	z-index: 2; /* Ensure form panel is on top during slide */
}

.image-panel {
	left: 50%; /* Initially positioned at the right half of the container */
	z-index: 1; /* Image panel is behind the form panel */
}

.form-section {
	display: flex;
	flex-direction: row;
	font-size: 1.1rem;
	width: 100%;
}
.image-section {
	position: relative;
	flex: 1;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.image-section > img {
	width: 100%;
	object-fit: contain;
}

@media (max-width: 1440px) {
	.image-panel {
		display: none;
	}

	.form-panel {
		width: 100% !important;
		transform: none !important;
		max-width: 540px;
	}
	.auth-layout-container {
		max-width: 540px;
		justify-self: center;
	}
}
