.auth-layout-container {
	position: relative;
	display: flex;
	/* top: 0;
	left: 0; */
	width: 75vw;
	height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(113, 141, 235, 1) 0%,
		rgba(164, 118, 215, 1) 100%
	);
	/* justify-self: center; */
	margin-left: 12.5vw;
	margin-right: 12.5vw;
	overflow: hidden;
}

.form-panel,
.image-panel {
	position: absolute; /* CRITICAL: Allows panels to overlap and slide over each other */
	top: 0;
	bottom: 0;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
}

.form-panel {
	background-color: #ffffff;
	z-index: 2; /* Ensure form panel is on top during slide */
}

.image-panel {
	left: 50%; /* Initially positioned at the right half of the container */
	z-index: 1; /* Image panel is behind the form panel */
}

.form-section {
	/* background-image: linear-gradient(to bottom, #4c51d9b2, #7e3ac6b2); */
	/* background: rgb(113, 141, 235); */
	/* position: relative; */
	/* justify-self: center; */
	display: flex;
	flex-direction: row;
	font-size: 1.1rem;
	/* width: 50%; */
}
.image-section {
	position: relative;
	flex: 1;
	/* width: 100%; */
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	/* z-index: 1; */
}
.image-section > img {
	width: 100%;
	object-fit: contain;
}
