.auth-layout-container {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	/* width: 100%; */
	/* height: 100%; */
	width: 75vw;
	height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(113, 141, 235, 1) 0%,
		rgba(164, 118, 215, 1) 100%
	);
	justify-self: center;
	margin-left: 12.5vw;
	margin-right: 12.5vw;
}

.form-section {
	/* background-image: linear-gradient(to bottom, #4c51d9b2, #7e3ac6b2); */
	/* background: rgb(113, 141, 235); */
	position: relative;
	/* justify-self: center; */
	display: flex;
	flex-direction: row;
	font-size: 1.1rem;
	width: 50%;
}
.image-section {
	flex: 1;
	width: 50%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 1;
}
.image-section > img {
	width: 100%;
	object-fit: contain;
}
